[user]
    name = Afonso Schulz Albrecht
    email = a.schulzalbrecht@gmail.com

[credential]
    helper = osxkeychain

[color]
    ui = auto

[core]
    editor = vim
    pager = less -FXR

[merge]
    conflictstyle = diff3

[log]
    decorate = true

[alias]
    # Status & diff
    s = status
    a = add
    sb = status -sb
    diffname = diff --name-only
    
    # Log
    slog = --oneline --graph --decorate
    sloga = --oneline --graph --decorate --all

    # Commit
    cm = commit
    cmm = commit -m

    # Push/Pull
    pl = pull --rebase

    # Branching
    b = branch
    co = checkout
    cob = checkout -b

    # Stash
    ss = stash
    sl = stash list

