[user]
    name = Afonso Schulz Albrecht
    email = a.schulzalbrecht@gmail.com

[credential]
{% if ansible_facts['os_family'] == 'Darwin' %}
    helper = osxkeychain
{% else %}
# TODO: setup libsecret for Debian in future
    helper = store
{% endif %}

[color]
    ui = auto

[core]
    editor = vim
    pager = less -FXR

[merge]
    conflictstyle = diff3

[log]
    decorate = true

[alias]
    # Status & diff
    st = status
    sta = status -sb
    dfname = diff --name-only

    # Log
    lga = log --oneline --graph --decorate --all

    # Commit
    cmm = commit -m

    # Push/Pull
    pl = pull --rebase

    # Branching
    br = branch
    co = checkout
    cobr = checkout -b

    # Stash
    ss = stash
    sl = stash list

