---
- name: Install yabai
  community.general.homebrew_tap:
    tap: koekeishiya/formulae
  tags: yabai

- name: Install yabai via Homebrew
  community.general.homebrew:
    name: yabai
    state: present
  tags: yabai

- name: Install skhd via Homebrew
  community.general.homebrew:
    name: skhd
    state: present
  tags: yabai

- name: Deploy yabairc config
  ansible.builtin.copy:
    src: yabairc
    dest: "{{ ansible_facts['env']['HOME'] }}/.yabairc"
    mode: '0755'
    owner: "{{ ansible_facts['env']['USER'] }}"
  tags: yabai
  diff: yes

- name: Deploy skhdrc config
  ansible.builtin.copy:
    src: skhdrc
    dest: "{{ ansible_facts['env']['HOME'] }}/.skhdrc"
    mode: '0644'
    owner: "{{ ansible_facts['env']['USER'] }}"
    force: yes
  tags: yabai
  diff: yes

- name: Confirm yabai is running
  ansible.builtin.shell: launchctl list | grep yabai || true
  register: yabai_status
  changed_when: false
  tags:
    - yabai

- name: Confirm skhd is running
  ansible.builtin.shell: launchctl list | grep skhd || true
  register: skhd_status
  changed_when: false
  tags:
    - yabai

- name: Start yabai service
  ansible.builtin.command: yabai --start-service
  changed_when: false
  tags: 
    - yabai

- name: Start skhd service
  ansible.builtin.command: yabai --start-service
  changed_when: false
  tags: 
    - yabai
  
