{
    "global": {
        "show_in_menu_bar": false,
        "show_profile_name_in_menu_bar": false
    },
    "profiles": [
        {
            "name": "Default",
            "selected": true,
            "virtual_hid_keyboard": {
                "caps_lock_delay_milliseconds": 0,
                "keyboard_type_v2": "ansi"
            },
            "simple_modifications": [
                {
                    "from": { "key_code": "caps_lock" },
                    "to": [{ "key_code": "left_control" }]
                }
            ],
            "fn_function_keys": [],
            "complex_modifications": {
                "rules": [
                    {
                        "description": "Disable Cmd+Ctrl+F (macOS fullscreen)",
                        "manipulators": [
                            {
                                "type": "basic",
                                "from": {
                                    "key_code": "f",
                                    "modifiers": {
                                        "mandatory": ["command", "control"],
                                        "optional": ["any"]
                                    }
                                },
                                "to": []
                            }
                        ]
                    },
                    {
                        "description": "Ctrl+L to Cmd+L in browsers (focus URL bar)",
                        "manipulators": [
                            {
                                "type": "basic",
                                "from": {
                                    "key_code": "l",
                                    "modifiers": {
                                        "mandatory": ["control"],
                                        "optional": []
                                    }
                                },
                                "to": [
                                    {
                                        "key_code": "l",
                                        "modifiers": ["command"]
                                    }
                                ],
                                "conditions": [
                                    {
                                        "type": "frontmost_application_if",
                                        "bundle_identifiers": [
                                            "^org\\.mozilla\\.firefox$",
                                            "^org\\.mozilla\\.firefoxdeveloperedition$",
                                            "^com\\.google\\.Chrome$",
                                            "^com\\.apple\\.Safari$",
                                            "^company\\.thebrowser\\.Browser$",
                                            "^com\\.brave\\.Browser$",
                                            "^com\\.microsoft\\.edgemac$"
                                        ]
                                    }
                                ]
                            }
                        ]
                    }
                ]
            }
        }
    ]
}
