---
- name: Install Karabiner-Elements via Homebrew
  homebrew_cask:
    name: karabiner-elements
    state: present
    sudo_password: "{{ vault_sudo_password }}"
  tags: keyboard

- name: Ensure Karabiner config directory exists
  ansible.builtin.file:
    path: "{{ ansible_facts['env']['HOME'] }}/.config/karabiner"
    state: directory
    mode: '0755'
    owner: "{{ ansible_facts['env']['USER'] }}"
  tags: keyboard

- name: Deploy Karabiner JSON configuration
  ansible.builtin.copy:
    src: karabiner.json
    dest: "{{ ansible_facts['env']['HOME'] }}/.config/karabiner/karabiner.json"
    mode: '0644'
    owner: "{{ ansible_facts['env']['USER'] }}"
  tags: keyboard

- name: Reload Karabiner-Elements to apply new configuration
  ansible.builtin.shell: "/Applications/Karabiner-Elements.app/Contents/MacOS/Karabiner-Elements --reloadxml"
  args:
    executable: /bin/bash
  ignore_errors: true
  tags: keyboard
