---
- name: Ensure 'Displays have separate Spaces' is enabled
  shell: defaults write com.apple.spaces spans-displays -bool false
  tags: sketchybar

- name: Add SketchyBar Homebrew tap
  homebrew_tap:
    tap: FelixKratz/formulae
    state: present
  tags: sketchybar

- name: Install SketchyBar
  homebrew:
    name: sketchybar
    state: present
  tags: sketchybar

- name: Install Hack Nerd Font
  homebrew:
    name: font-hack-nerd-font
    state: present
  tags: sketchybar

- name: Ensure SketchyBar config directory exists
  file:
    path: "{{ sketchybar_config_path | dirname }}"
    state: directory
    mode: '0755'
  tags: sketchybar

- name: Ensure SketchyBar plugins directory exists
  file:
    path: "{{ sketchybar_plugins_path }}"
    state: directory
    mode: '0755'
  tags: sketchybar

- name: Deploy SketchyBar config
  copy:
    src: sketchybarrc
    dest: "{{ sketchybar_config_path }}"
    mode: '0755'
  tags: sketchybar

- name: Deploy SketchyBar plugins
  copy:
    src: plugins/
    dest: "{{ sketchybar_plugins_path }}/"
    mode: '0755'
    remote_src: no
  tags: sketchybar

- name: Start SketchyBar
  ansible.builtin.command: brew services start sketchybar
  become: false
  environment:
    PATH: "/opt/homebrew/bin:{{ ansible_facts['env']['PATH'] }}"
  tags: sketchybar

- name: Auto-hide menu bar on macOS
  shell: defaults write NSGlobalDomain _HIHideMenuBar -bool true
  # community.general.osx_defaults:
    # domain: NSGlobalDomain
    # key: _HIHideMenuBar
    # type: bool
    # value: true
  tags: sketchybar

- name: Restart Finder so setting takes effect
  ansible.builtin.command: killall Finder
  tags: sketchybar
